html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    min-height: 100%;
    background-color: #E8F4F6;
}

header {
    background-color: #00214D;
    color: white;
}

.container {
    
}

.cont {
    background-color: #FFFFFE;
    min-width: 80%;
    border-radius: 10px;
}

.cont-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

    .cont-search > input[type="text"] {
        height: 100%;
    }


.btn-main {
    color: white;
    border-color: #FF5470;
    border-radius: 30px;
    background-color: #FF5470;
}

.btn-cate {
    border-color: lightgray;
    border-radius: 30px;
    background-color: #FFF7F1;
}

.home-movie-list .card-body {
    /*word-wrap: break-word;*/
    min-height: 170px;
    max-height: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
}
