@model MovieCategorySearch.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="sectionA text-center">
    <a class="btn btn-outline-dark" asp-controller="Category" asp-action="Create">カテゴリを作ろう</a>
</div>


<h1>人気のカテゴリ</h1>
<div class="cont">
   @foreach(var item in Model.CategoryModelList!)
   {
        <input type="button" class="btn btn-outline-dark" value="@item.CategoryName" />
    }

    <input type="button" class="btn btn-outline-dark" value="もっと見る" />
    
</div>


<h1>トレンド</h1>もっとみる...

   @foreach(var item in Model.MovieList!)
{
    <div class="card" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/w500/@item.PosterPath" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Overview</p>
        </div>
    </div>
}

