@model MovieCategorySearch.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="sectionA text-center">
    <input type="button" class="btn btn-outline-dark" value="カテゴリを作ろう"/>
</div>


<h1>人気のカテゴリ</h1>
<div class="cont">
   @foreach(var item in Model.CategoryModelList!)
   {
        <input type="button" class="btn btn-outline-dark" value="@item.CategoryName" />
    }

    <input type="button" class="btn btn-outline-dark" value="もっと見る" />
    
</div>


<h1>トレンド</h1>もっとみる...


<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
